:root{
    --clr-font-dark: #352f36;
    --clr-font-darker: #070607;
    --clr-font-light: #FFFFF0;
    --clr-rose-gold: #bd8c7d;
    --clr-soft-gold: #d1bfa7;
    --clr-silver: #8e8e90;
    --clr-onyx: #49494b;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: calc(1ex / 0.32);
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    max-inline-size: 50ch;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    background-color: var(--clr-font-light);
    color: var(--clr-font-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5rem 1fr 2.5rem;
    grid-template-areas: 
            "header main"
            "hero main"
            "footer footer";
}

.app-header {
    grid-area: header;
    padding: 0.5em 1em;
    border-bottom: 1px solid currentColor;
}

.app-title {
    /* override font-size */
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
}

.app-hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-hero__title {
    /* override font-size and family */
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-size: 6em;
}

.library {
    grid-area: main;
}

.app-footer{
    border-top: 1px solid currentColor;
    grid-area: footer;
    display: grid;
    justify-items: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}



